.user-topbar {
  background: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}

.user-topbar .search-box {
  background: #f1f3f5;
  padding: 6px 12px;
  border-radius: 50px;
  width: 300px;
}

.user-topbar .search-box input {
  background: transparent;
}

.icon-btn i {
  font-size: 20px;
}

.dropdown .avatar {
  width: 36px;
  height: 36px;
  object-fit: cover;

      
    border: 4px solid #61b561;

      
}

.user-dropdown-btn,
.user-dropdown-btn:focus,
.user-dropdown-btn:active,
.user-dropdown-btn:focus-visible,
.user-dropdown-btn.show,
.user-dropdown-btn.dropdown-toggle:focus,
.user-dropdown-btn.dropdown-toggle:active,
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active
 {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.icon-btn i {
  display: inline-block;
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.icon-btn.spin-once i {
  transform: scale(0.85) rotate(180deg);
}

