.app-body
{
    display: flex;
}

main.content
{
    flex:1;
}

.form-check-input:checked {
    background-color: #70a83e;
    border-color: #70a83e;
}

.btn-primary {
    --bs-btn-bg: #70a83e;
    --bs-btn-border-color: #70a83e;
    --bs-btn-hover-bg: #70a83e;
    --bs-btn-hover-border-color: #70a83e;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: #70a83e;
    --bs-btn-active-border-color: #4a7921;
    --bs-btn-disabled-bg: #70a83e;
    --bs-btn-disabled-border-color: #70a83e;
}


.btn-outline-primary {
    --bs-btn-color: #70a83e;
    --bs-btn-border-color: #70a83e;
    --bs-btn-hover-bg: #70a83e;
    --bs-btn-hover-border-color: #70a83e;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-bg: #70a83e;
    --bs-btn-active-border-color: #70a83e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #70a83e;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #70a83e;
    --bs-gradient: none;
}

.modern-tabs button.nav-link.active {
    color: #70a83e;
}

.modern-tabs button.nav-link::after {
    background-color: #70a83e;
}

.bg-primary {
    --bs-bg-opacity: 1;
    background-color: #70a83e !important;
}

.text-primary {
    color: #70a83e !important;
}


.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-active-bg);
}

.dropdown-item.active, .dropdown-item:active {
  --bs-dropdown-link-active-bg: #70a83e;
}

    a:hover {
        color: #70a83e;
    }